
.Counter{
    display: flex;
    flex-direction: row;
    
}
  
.Controls{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}
  

.Button {

    background-color: #8AAE3F;
    color: #fff;
    border: none;
    padding: 7px 16px;
    cursor: pointer;
  }
  
.Button:hover {
        color: #8AAE3F;
        background-color: white ;
        border: solid 2px #8AAE3F ;
  }

  .Number {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0px 10px 0px 10px;

  }
  